results/*
*.DS_STORE
data/*
eval/compression_comparison/*
eval/*/*.txt
*__pycache__*
*.pyc
*.ppm
*.png
*.nbconvert.html
*.ipynb_checkpoints/
*.idea
*/venv/*
build/*
cmake-build-*
eval/turbine/bound_eval/*
eval/turbine/size_quality_comparison/*
eval/turbine/images/*
eval/turbine/num_moments/*
eval/turbine/upsampling/*
eval/turbine/time_series/*
eval/rayleigh_taylor_instability/bound_eval/*
eval/rayleigh_taylor_instability/images/*
eval/rayleigh_taylor_instability/size_quality_comparison/*
eval/rayleigh_taylor_instability/num_moments_eval/*
eval/richtmyer_meshkov/images/*
eval/richtmyer_meshkov/num_moments/*
eval/richtmyer_meshkov/size_quality_comparison/*
eval/richtmyer_meshkov/upsampling/*
eval/richtmyer_meshkov/bound_eval/*
eval/marschner_lobb/images/*
